<!-- index.ejs -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>履歴表示</title>
    <link rel="stylesheet" href="/static/css/style-basic.css">
    <link rel="stylesheet" href="/static/css/style-index.css">
</head>
<body>
    <!-- Header -->
    <%- include("_header.ejs", { title: title, req }) %>

    <!-- Navigator -->
    <div id="history-navi">

        <div id="history-navi-items">

            <div>　</div>
            <div class="button-title">History Today</div>
            <button id="history-today" class="switch checked">当日履歴</button>

            <div class="button-title">History Month</div>
            <button id="history-month" class="switch">過去１か月履歴</button>

            <div>　</div>
            <td class="text">社員番号で絞り込み</td>
            <div class="button-title">Extrac Employee No</div>
            <table class="setting-items">
                <tr>
                    <td>
                        <select id="select-tancd" name="select-tancd" title="担当者の選択" class="select">
                            <option value="">全ての社員</option>
                            <option value="11014">11014:渡辺善行</option>
                            <option value="10095">10095:村松久範</option>
                            <option value="11178">11178:太箸雄一</option>
                        </select>
                    </td>
                </tr>
            </table><br>

            <td class="text">品番で絞り込み</td>
            <div class="button-title">Extrac Product Code</div>
            <table class="setting-items">
                <tr>
                    <td>
                        <select id="select-hmcd" name="select-hmcd" title="品番の選択" class="select">
                            <option value="">全ての品番</option>
                            <option value="T1855-70743">T1855-70743</option>
                        </select>
                    </td>
                </tr>
            </table><br>

        </div>

        <div id="history-navi-button">
            <div class="button-title">Browser Back</div>
            <a href="javascript:history.back()">
                <button class="button">戻る</button>
            </a>
            <div class="button-title">Finish</div>
            <a href="javascript:Finish()">
                <button class="button">作業終了</button>
            </a>
    </div>
    </div>

    <!-- Details -->
    <div id="scroll-top"></div>
    <div id="history">
        <table>
            <tr>
                <th>No</th>
                <th>品番</th>
                <th>開始</th>
                <th>終了</th>
                <th>時間</th>
            </tr>
            <tr>
                <td>1</td>
                <td>T1855-70743</td>
                <td>11:53</td>
                <td>12:08</td>
                <td>10分</td>
            </tr>
        </table>
    </div>
    <div id="scroll-bottom"></div>

    <!-- Footer -->
    <%- include("_footer.ejs", req) %>

    <!-- ブラウザ読み込み完了後のJavaScriptを記述 -->
    <script type="text/javascript">

        // イベントリスナーを設定
        const oHistoryToday = document.getElementById("history-today");
        const oHistoryMonth = document.getElementById("history-month");
        oHistoryToday.addEventListener("click", historyTodayClick);
        oHistoryMonth.addEventListener("click", historyMonthClick);

        // 当日履歴クリック
        function historyTodayClick() {
            oHistoryToday.className = "switch checked";
            oHistoryMonth.className = "switch";
        }

        // 過去１か月履歴クリック
        function historyMonthClick() {
            oHistoryToday.className = "switch";
            oHistoryMonth.className = "switch checked";
        }

        // 社員番号 selector の change イベント作成
        const oSelectTancd = document.querySelector('[name="select-tancd"]');
        oSelectTancd.onchange = event => {
            alert(oSelectTancd.value + ":" + oSelectHmcd.value);
        }

        // 品番 selector の change イベント作成
        const oSelectHmcd = document.getElementById("select-hmcd");
        oSelectHmcd.onchange = event => { 
            alert(oSelectTancd.value + ":" + oSelectHmcd.value);
        }

        // Test
        function scriptTest(){
            var userAgent = window.navigator.userAgent.toLowerCase(); 
            alert(userAgent);
        }

        // 前日処理
        function prevday(){
            const prevday = document.getElementById("prevday").value;
            const odcd = document.querySelector('[name="select-odcd"]').value;
            const disp = document.getElementById("disp").value;
            location.href = `/es/plan/${prevday}/${odcd}/${disp}`;
        }
        // 翌日処理
        function nextday(){
            const nextday = document.getElementById("nextday").value;
            const odcd = document.querySelector('[name="select-odcd"]').value;
            const disp = document.getElementById("disp").value;
            location.href = `/es/plan/${nextday}/${odcd}/${disp}`;
        }
    </script>

</body>
</html>
