@charset "UTF-8";
/* =========================================================================== */
/*  es-style.css : 主にMPページ群で使用する基本的なスタイルシート
/* =========================================================================== */
#containers {
    padding-top: 40px;
    height: calc(100vh - 20px);
    width: 100vw;
    display: grid;
    background: rgb(250, 250, 250);
    grid-template-columns: 320px auto;
    grid-template-rows: 1fr;
}
/* 画面の比率が A3比率 [√2:1] 以下の 縦長画面の場合は上下にナビゲーションを配置 */
@media screen and (max-aspect-ratio: 1414/1000) {
    #containers {
        grid-template-columns: 1fr;
        grid-template-rows: 50px auto;
        background: rgb(25, 25, 25);
    }
}
/* desktop-pc-size: 1300px～ */
@media screen and (min-width: 1300px) and (min-height: 800px) {
    #containers {
        grid-template-columns: 320px auto;
    }
}
/* =========================================================================== */
/*  Navigation共通グループ
/* =========================================================================== */
/* 画面の比率が A3比率 [√2:1] 以上の 横長画面の場合は左右にナビゲーションを配置 */
#navigate {
    display: grid;
    padding-top: 20px;
    padding-bottom: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 7rem 8rem 7rem 1fr;
    background: rgb(248, 248, 248);
    font-size: 1.0em; /* ベースフォントサイズ */
}
/* 画面の比率が A3比率 [√2:1] 以下の 縦長画面の場合は上下にナビゲーションを配置 */
@media screen and (max-aspect-ratio: 1414/1000) {
    #navigate {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr; /* subgrid; */ 
        background: rgb(25, 25, 25);
    }
}
.large {
    font-size: 1.5em;
    margin-left: 0.8em;
}
.normal {
    font-size: 0.8em;
    color: #999;
    margin: 0.3em 0 0.3em 1.8em;
}
.button-title {
    font-size: 0.8em;
    color: #999;
    text-align: center;
    margin-bottom: 0.3em;
}
#worker {
    display: flex;
    font-size: 1.5em;
    margin-inline: 0.8em;
    padding: 0.3em;
    color: #fff;
    background: #2589d0;
}
input[type='text'] {
    font-size: 1em;
    margin-inline: 1.2em;
    padding: 0.3em;
    border: 1px solid rgba(82, 223, 0, 0.936);
    width: calc(100% - 3.2em);
    outline: none;
}
input[type='text']:focus {
    box-shadow: 0 0 2px 2px rgba(233, 85, 85, 0.8);
}
.button {
    margin-left: 1em;
    margin-bottom: 1em;
    width: calc(100% - 2em);
    padding-top: 0.3em;
    padding-inline: 1.5em;
    border: 1.5px solid #2589d0;
    border-radius: 5px;
    background-color: #fff;
    color: #2589d0;
    font-size: 1.5em;
}
.button:hover {
    background-color: #2589d0;
    color: #fff;
    cursor: pointer;
}
.switch {
    margin-left: 1em;
    margin-bottom: 1em;
    width: calc(100% - 2em);
    padding-top: 0.3em;
    padding-inline: 1.5em;
    border: 1.5px solid #888;
    border-radius: 5px;
    background-color: rgb(180, 180, 180, 0.6);
    color: #666;
    font-size: 1.5em;
}
.switch:hover {
    cursor: pointer;
}
.checked {
    background-color: #2589d0;
    color: #fff;
}
.select {
    font-size: 1.2em;
    margin-left: 1.2em;
    margin-bottom: 1em;
    padding: 0.2em 0 0.2em 0.5em;
    width: calc(100% - 1.5em - 1em);
    border: 0.1px solid rgba(163, 243, 214, 0.3);
    border-radius: 0.2em;
    color:rgb(55, 82, 72);
    background-color: rgba(163, 243, 214, 0.3);
    box-shadow: 2px 2px 4px gray;
    outline: none;
    cursor: pointer;
}
@media screen and (min-width: 1300px) and (min-height: 800px) {
    #worker { margin-inline: 1em; }
    .large { margin-left: 1em; }
    .normal { margin-left: 2em; }
    input[type='text'] { margin-left: calc(1.3em + 1px); width: calc(100% - 3.6em - 2px); }    
}
/* =========================================================================== */
/*  手順書
/* =========================================================================== */
#details {
    width: 100%;
    height: 100%;
    margin: auto;
}
#output {
    width: 100%;
    height: 100%;
    display: flex;
}
#details ul {
    display: inline-block;
    text-align: center;
}
.prev {
    position: fixed;
    left: 80px;
    top: calc((100vh / 2) - 30px);
    /* PNGイメージを使用する場合の指定 */
    width: 100px;
    opacity: 0.05;
    /* web-font [fa-chevron-circle-left] を使用する場合の指定 */
    font-size: 5em;
    color: rgb(25, 25, 25, 0.05);
}
.prev:hover {
    opacity: 0.4;
    color: rgb(25, 25, 25, 0.4);
}
.play {
    position: fixed;
    top: calc((100vh / 2) - 60px);
    left: calc((100vw / 2));
    /* PNGイメージを使用する場合の指定 */
    width: 150px;
    opacity: 0.2;
    /* web-font [fa-chevron-circle-left] を使用する場合の指定 */
    font-size: 10em;
    color: rgb(25, 25, 25, 0.2);
}
.play:hover {
    opacity: 0.6;
    color: rgb(25, 25, 25, 0.4);
}
.next {
    position: fixed;
    left: calc(100vw - 100px);
    top: calc((100vh / 2) - 30px);
    /* PNGイメージを使用する場合の指定 */
    width: 100px;
    opacity: 0.05;
    /* web-font [fa-chevron-circle-left] を使用する場合の指定 */
    font-size: 5em;
    color: rgb(25, 25, 25, 0.05);
}
.next:hover {
    opacity: 0.4;
    color: rgb(25, 25, 25, 0.4);
}
/* =========================================================================== */
/*  ワーニング
/* =========================================================================== */
.nodata {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    text-align: center;
    width: 865px;
    margin: 0 auto;
}
.alert {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    text-align: center;
    font-weight: bold;
}
/* =========================================================================== */
/*  履歴表示
/* =========================================================================== */
#history-navi {
    position: relative;
    height: calc(100% - 40px - 20px - 30px);
    width: 320px;
    top: 50px;
    left: 0px;
    padding-top: 10px;
    border-radius: 5px;
    background: rgb(248, 248, 248, 0.8);
}
#history-navi-button {
    position: absolute;
    bottom: 0px;
    width: 100%;
}
#history {
    position: absolute;
    width: calc(100% - 320px - 30px);
    height: calc(100% - 40px - 20px - 30px);
    top: 50px;
    left: 330px;
    border-radius: 5px;
    background: rgb(248, 248, 248, 0.8);
}
#history #tbl1 {
    margin: auto;
    margin-top: 10px;
}
#history tr {
    background-color: #FEFEFE;
}
#history tr:nth-child(even) {
    background-color: #ECECEC;
}
#history th {
    border: solid 0.5px #1414141c;
    background-color: rgb(225, 238, 253);
}
#history .th-big {
    font-size: 1.4rem;
}
#history .th-small {
    font-size: 0.8rem;
}
#history .th-large-small {
    font-size: 0.6rem;
}
#history td {
    text-align: center;
    border: solid 0.5px #1414141c;
    padding: 2px 0px ;
    vertical-align: middle;
    height: 36px;
}
#history .td-href {
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    padding: 8px 0px;
}
#history .td-big {
    font-weight: bold;
}
#history .td-small {
    font-size: 0.8rem;
}
#history .td-large-small {
    font-size: 0.7rem;
}
#history .lef {
    text-align: left;
}
#history .s3 {
    text-align: left;
}
#history .s4 {
    text-align: left;
    border-radius: 3px;
    background-color: rgba(255, 105, 180, 0.3);
}
#history .s8 {
    text-align: left;
    border-radius: 3px;
    background-color: rgba(250, 240, 20, 0.5);
}
